[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mock = "*"
gunicorn = "*"
Flask = "*"
requests = "*"
selenium = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
fbmessenger = "*"

[dev-packages]

[requires]
python_version = "3.8"
